/* ==========================================================================
   Comments
   ========================================================================== */

.form__field {
    display: block;
    margin: 15px 0;
}

.form__recaptcha {
  margin: 20px 0 20px -2px;
}

.text-field {
	display: block;
	width: 100%;
	font-size: 15px;
	border: 2px solid #000;
	padding: 10px;
	background: transparent;
	outline: none;
	border-radius: 0;
}

.text-field:focus {
		background: #fffff1;
}

.text-field:active {
		background: #fffff1;
}

.checkbox {
  display: none;
}

.checkbox__label {
    position: relative;
}

.checkbox__label::before {
    content: ' ';
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    margin: 0 10px -5px 0;
}

.checkbox:checked + .checkbox__label:after {
        content: 'x';
        display: inline-block;
        position: absolute;
        width: 25px;
        height: 25px;
        line-height: 25px;
        top: 0;
        left: 0;
        font-family: sans-serif;
        text-align: center;
}

.cta {
    position: relative;
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    margin-bottom: 20px;
}

.cta:hover {
    color: white;
    background-color: black;
}

.comments-heading {
	margin-bottom: 37.5px;
}

/* .comments {
	margin-top: $post-vertical-rythm * 3;
	padding: ($post-vertical-rythm * 2) 0;
	background-color: $colour-light-grey;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.comments--empty .comments__existing {
	display: none;
}

.comments__heading {
	margin-bottom: $post-vertical-rythm * 1.5;
}

$avatar-size: 100px;
$avatar-size-narrow: 50px;

.comment {
	margin-bottom: 80px;
	line-height: 1.3;
	position: relative;
}

.comment__content-wrapper {
	padding-left: $avatar-size-narrow + 20px;

	@include media('>=medium') {
		padding-left: $avatar-size + 20px;
	}
}

.comment__author {
	font-size: 24px;
}

.comment__date {
	opacity: 0.6;
	margin: 5px 0 15px 0;
	font-size: 0.8em;
}

.comment__avatar-wrapper {
	width: $avatar-size-narrow;
	position: absolute;
	top: 0;
	left: 0;

	@include media('>=medium') {
		width: $avatar-size;
	}
}

.comment__avatar {
	border-radius: 50%;
	width: 100%;
}

.comment__body {
	* + * {
		margin-top: 20px;
	}

	.highlight {
		font-size: 14px;
		padding: 20px;
	}

	p > code {
		font-family: "Monaco","Consolas","Menlo",monospace;
    background-color: #eeeee5;
    font-size: 0.75em;
    padding: 5px 8px;
	}
} */


.form-group {
    margin-bottom: .5rem;
}

.comment {
  position: relative;
  margin-bottom: 4em;
  padding-left: 4.5em;
  font-size: 0.8em;
}

.comment.child {
  // comment replies
    margin-left: 4.5em;
}

.comment-timestamp {
  font-size: 0.8em;
}


.comment-timestamp + a {
    color: inherit;
    text-decoration: none;
}

.comment-content {
  margin-top: 1em;
}

.comment-content > p,
.comment-content > ul,
.comment-content > ol,
.comment-content > figure,
.comment-content > table {
    margin-bottom: 1.5em;
}

.comment-content + ul {
    list-style-type: square;
}

.comment-content + li {
    margin-bottom: 0.5em;
}

.comment-content + li > ul {
    margin-top: 0.5em;
}

.comment-content + li > ol {
    margin-top: 0.5em;
}

.comment-content + img {
    max-width: 100%;
}

.comment-content + .highlighter-rouge + .highlight {
      margin-left: 0;
      margin-right: 0;
      padding: 1em;
}

.comment-content + .highlighter-rouge + .highlight + .highlight code {
      font-size: 0.8em;
}

.comment-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.25em;
  height: 3.25em;
}

.comment-avatar::after {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    width: 3.25em;
    height: 3.25em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='stripe-svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M-1,1 l2,-2 M0,10 l10,-10 M9,11 l2,-2' stroke='%23333' stroke-width='1' /%3E%3C/svg%3E");
    background-size: 5px 5px;
    content: "";
    z-index: -1;
}

.comment-author-name {
  display: inline-block;
  margin: 0 0 0.25em;
  font-size: 1.25em;
  line-height: 1;
}

.comment-author-name + a {
    color: inherit;
    text-decoration: none;
}

.comment-reply {
  text-align: right;
}

.comment-reply + a {
    text-decoration: none;
}

.comment-reply + a:hover {
      text-decoration: underline;
    }

.comment-reply-notifications {
  margin: 1rem 0;
}

#cancel-comment-reply-link {
  margin-left: 1em;
}

#comment-form {
  margin-bottom: 3em;
}

/* Site author specific */
.admin + .comment-author-name {
    box-shadow: inset 0 -0.25em 0 rgba($warning-color, 0.5);
 }
