/* All Sections */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

*::selection {
	background: rgba(0, 0, 0, .1);
}

body {
	font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #FCFCFC;
}

h1 {
	font-size: 45px;
    font-weight: 300;
    line-height: 53px;
    margin:0px 0 16px 0;
    color:#1D2129;
}

h2 {
	font-size:28px;
	font-weight:500;
	line-height:32px;
	margin:60px 0 24px 0;
	color: #1D2129;
}
h3 {
	font-size: 24px;
	margin-bottom: 24px;
	font-weight: 400;
	color: #90949C;
}

p {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 24px;
	color: rgba(0,0,0,.84);
}

strong {
	font-weight: 500;
}
p a {
	color:#4080FF;
}

blockquote {
  color: #4B4F56;
  font-family: Georgia, serif;
  max-width:600px;
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  margin: 60px auto 24px auto;
  padding: 0 0 0 16px;
  position: relative;
  border-left: 3px solid #4B4F56;
}
cite {
  max-width: 600px;
  line-height: 25px;
  vertical-align: top;
  font-size: 14px;
  display: block;
  font-style: normal;
  margin: 0 auto 32px auto;
  padding-left: 16px;
  color: #90949C;
}
cite strong {
  margin-right: 4px;
  color: #4B4F56;
}
cite img {
  width: 24px;
  vertical-align: bottom;
  height: 24px;
  border-radius: 100px;
  margin-right: 8px;
}

hr {
	border: 0;
	margin:60px 0;
	height: 0;
	border-bottom: 1px solid #E9EBEE;
}
a {
	color:inherit;
	text-decoration: none;
	cursor: pointer;
}
#content {
	padding-top: 66px;
}

/* Nav Bar */

body #nav {
	position: fixed;
	height: 66px;
	padding-top: 2px;
}
#nav {
	box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);
	position: fixed;
	background-color: rgba(255,255,255,.98);
	-webkit-backdrop-filter: blur(20px);
	z-index: 9999;
	padding: 0px 0px 0px 24px;
	position: absolute;
	top: 0;
	width: 100%;
	opacity: 0.9;
}

@supports (-webkit-backdrop-filter: none) { #nav { background-color: rgba(255, 255, 255, .85); } }

#nav div.item, #nav div.logo {
	line-height: 62px;
	display: inline-block;
	vertical-align: top;
}

#nav div.logo {
	background-image: url('/assets/images/logo.png');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: left center;
	color: rgba(0,0,0,0.8);
	float: left;
	padding: 0 0 0 42px;
	font-weight: 500;
	font-size: 24px;
}
#nav div.logo:hover {
	opacity: .7;
}

.nav-isNotVisIfMobile{
	display: inline-block;
}

.nav-isVisIfMobile{
	display: none;
}

#nav div.item {
	font-weight: 500;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0px 32px 0 0;
	color:#90949C;
	-webkit-user-select: none;
}
#nav div.item a {
	font-weight: inherit;
	display: block;
}

#nav div.item a:hover {
	opacity: .7;
}
#nav div.item.current {
	color: #4B4F56;
	box-shadow: 0px 2px #4080FF;
}

#nav div.item.current:hover {
	opacity: 1;
}

/* Headers */

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
	position: relative;
	width: 100%;
	max-width: 1185px;
	margin: 0 auto;
	box-sizing: border-box;
}

.container--header {
	margin: 0 auto 36px auto;
	padding-left:20px;
}
.container--image {
	margin: 24px 0;
}

.container--grid li {
    display: none
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
	border:none;
    height: 45px;
    width: 45px;
    line-height: 35px;
    border-radius:50%;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 1;
    margin: 0 8px 0 0;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	-webkit-appearance: none;
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.button--active{
    background-color: transparent;
    color:black;
}

.button--active:hover{
	background-color: #a6a6a6;
	border: 2px solid #ddd;
	border-radius: 50%;
	color: #fff;
	border:none;
}

.page-num:first-child {
	background-color: #404040;
	border: 2px solid #ddd;
	border-radius: 50%;
	color: #fff;
	border:none;
}


/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card {
  display: inline-block;
  position: relative;
  width: 355px;
  background-color: white;
  vertical-align: top;
  text-align: left;
  height: 480px;
  margin:20px;
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
	white-space: normal;
	-webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	-moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  color: #4B4F56;
}

.no-touch .card:hover {
  box-shadow: 0 40px 40px rgba(0,0,0,.16);
  transform: translate(0,-20px);
  transition-delay: 0s !important;
}

.no-touch .card:hover::before { content: ''; position: absolute; top: 100%; width: 100%; height: 20px; }

.card-hero{
	background-color: white;
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	position:relative;
	clear: both;
	float: left;
	overflow: auto;
	width: 100%;
	padding: 20px;
}

.card-image{
	width: 100%;
	height: 140px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-image--size-185{
	height: 180px;
}

.card-play {
	margin: 0 auto;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  text-align: center;
  height: 60px;
  width: 60px;
  opacity: .8;
	-webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	-moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	background-image: url('/assets/images/play-button.svg');
	background-size: 58px 58px;
	background-repeat: no-repeat;
}
.card-body{
	position:relative;
	clear: both;
	float: left;
	width: 100%;
	overflow: visible;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	z-index: 2
}

.card-body--video{
	height: 435px;
	background:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%);
}

.card-footer {
	font-size:10px;
	text-transform: uppercase;
	position: absolute;
	padding-left: 20px;
	padding-right: 20px;
	bottom: 0px;
	margin:0 auto;
	width:100%;
}

.mix > a { display: inline-block; }

.card--collection {
	background-size: 100%;
	background-position: center;
	min-height: 380px;
}
.card--collection > .card-footer {
	position: absolute;
	bottom: 0;
	left:0;
}
.card--collection .card-title, .card--collection .card-type, .card--collection .card-tag {
	color: #ffffff;
}
.card--collection .card-description {
	color: #DDDFE2;
}
.card--collection .card-footer-wrapper {
	border: none;
}
.card--resource .card-hero{
	height:296px;
}

.card--article .card-hero,
.card--video .card-hero{
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.card--resource .card-description {
    -webkit-line-clamp: 3;
}

.card--video .card-description {
    -webkit-line-clamp: 3;
}

.card-description--clamp-8{
    -webkit-line-clamp: 8;
}

.card-description--clamp-14{
    -webkit-line-clamp: 14;
}

.card-description--clamp-0{
    -webkit-line-clamp: 0;
}

.card-description--clamp-2{
    -webkit-line-clamp: 2;
}

.card-description--clamp-3{
    -webkit-line-clamp: 3;
}

.no-touch .card:hover .card-play {
	opacity: 1;
    transform: scale(1.25);

}

.card-circle--article{
	display: inline-block;
	line-height: 66px;
	text-align: center;
	width:48px;
	height:48px;
	background-size: 48px 48px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.card-circle {
	height: 48px;
	width: 48px;
	border-radius: 100px;
	background-color:white;
	margin-bottom: 12px;
}

.card-meta-container{
	display:inline-block;
	bottom: 0px;
	position:absolute;
	padding-bottom: 17px;
	width: 307px;
}

.card-title {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 12px;
	color: #1D2129;
}

.card-title--video{
	color:white;
}
.card-article-preview {
	color:#90949C !important;
}

.card-resource .card-circle{
	display: none;
}

.card-circle--articleIfNoImage{
	right:24px;
	top:16px;
}

.no-touch .card:hover .card-circle--articleIfNoImage{
	top:10px;
	right:18px;
}

.no-touch .card:hover .is-notShownIfHover{
	display: none !important;
	-webkit-transition:all 250ms cubic-bezier(.02, .01, .47, 1);
	-moz-transition:all 250ms cubic-bezier(.02, .01, .47, 1);
	transition:all 250ms cubic-bezier(.02, .01, .47, 1);
}

.no-touch .card:hover .is-shownIfHover{
	display: inline-block !important;
	-webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	-moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.card .is-notShownIfHover{
	display: inline-block !important;
}

.card .is-shownIfHover{
	display: none !important;
}

.card-tag {
	color:#90949C;
	display: inline-block;
}

.card-logo {
	display: inline-block;
	width: 20px;
    height: 46px;
    background-image: url(/assets/images/logo.png);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.card-link {
	display: inline-block;
	width: 20px;
    height: 46px;
    background-image: url(/assets/images/external-link.svg);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.card-type {
	margin-right:20px;
	display: inline-block;
	color:#4B4F56;
}

p.card-tag,
p.card-type{
	font-size: 11px;
	line-height: 18px;
}

.card-description {
	display: block;
	display: -webkit-box;
	font-size: 14px;
	font-weight:400;
	text-align: left;
	line-height: 20px;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #4B4F56;
}

.card-description.card-description--video{
	color:white;
}

.card-footer-wrapper{
	height: 46px;
	line-height: 46px;
	border-top: 1px solid #E9EBEE ;
}

.card-row-wrapper .card{
	margin-right: 60px;
}


/* Tooltip
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a.tooltip:hover {
    opacity: 1;
}
.tooltip {
    display: inline;
    position: relative;
    z-index: 1;

}
.tooltip img {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    margin: 4px;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}
.tooltip img:hover {
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.16);
}
.tooltip-disabled::after {
    content: '';
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: #1D2129;
    border-width: 7px;
    margin-left: -7px
}
.tooltip-disabled {
    position: absolute;
    z-index: 1;
    border-radius: 400px;
    width: 18px;
    left:-50%;
    margin: 0 0 -85px 0px;
    bottom: 100%;
    text-align: center;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    font-size: 14px;
    line-height: 14px;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background: #1D2129;
}
.tooltip .tooltip-disabled {
    -webkit-transform-origin: 50% calc(100% + 10px);
    transform-origin: 50% calc(100% + 10px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}
.tooltip:hover .tooltip-disabled {
    opacity: 1;
}
.tooltip-text {
    position: absolute;
    z-index: 1;
    border-radius: 400px;
    width: 160px;
    left: -54px;
    margin: 0 0 45px 0px;
    bottom: 100%;
    text-align: center;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    font-size: 14px;
    line-height: 14px;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background: #1D2129;
}
.tooltip .tooltip-text {
    -webkit-transform-origin: 50% calc(100% + 10px);
    transform-origin: 50% calc(100% + 10px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s
}
.tooltip:hover .tooltip-text {
    opacity: 1
}
.tooltip-text::after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 7px;
    margin-left: -7px;
    border-top-color: #1D2129;
}

a.share {
    font-weight: 400;
    font-size: 16px;
    color: #90949C;
    text-decoration: none;
    margin: 0 10px;
}

a.share:hover {
    opacity: .7;
}



/* Action Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 8px
}

.action_bar-wrapper{
	margin-bottom:110px;
}

.logo {
    display: inline-block;
    background-color: transparent;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #90949C;

}

.logo a {
    text-decoration: none;
    color: #90949C;
}

.logo span {
    vertical-align: top;
    line-height: 24px
}

@-webkit-keyframes "inf-bounce" {
    0%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
}
keyframes inf-bounce {
    0%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
    50% {
        -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }
}

.action_bar-arrow .arrow-icon {
    width: 25px;
    height: 14px;
}
.arrow-icon:hover {
    opacity: .7;
}

.action_bar-arrow {
    -webkit-animation: inf-bounce 1.5s infinite;
    animation: inf-bounce 1.5s infinite;
    display: block;
    width: 25px;
    margin: 0 auto;
}

.action_bar-share {
    bottom: 80px;
    margin: 0px auto;
    text-align: center;
    left: 0;
    right: 0;
    margin-bottom: 36px;
}



/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#footer {
	position: fixed;
	bottom: 0;
	/*max-width: 1185px;*/
	width:100%;
	margin:0 auto 0 auto;
	padding:0 15px;
	opacity: 0.5;
}

#footer p a {
	color:#4B4F56;
}
.copyright {
	margin: 26px 0;
	margin-left:0px;
	margin-bottom: 10px;
	display:inline-block;
	color:#90949C;
	/*text-transform: uppercase;*/
	font-size: 11px;
	font-weight: 500;
	vertical-align: top;
}

.copyright:hover {
	color: rgba(0,0,0,0.8);
}
.copyright a:hover {
	opacity: .7;
}

#footer-links li {
	display: inline-block;
	line-height: 66px;
	width:20px;
	height:20px;
	background-size: 20px 20px;
	margin:0 10px;
	margin-bottom: -15px;
	background-repeat: no-repeat;
	background-position: left center;
}
#footer-links a {
	width:20px;
	height:20px;
}
#footer-links li:hover {
	opacity: .7;
}

#footer-links li.mail {
	background-image: url('/assets/images/mail.svg');
}

#footer-links li.mail:hover {
	background-color: rgba(0,0,0,0.8);
}

#footer-links li.github {
	background-image: url('/assets/images/github.svg');
}

#footer-links li.github:hover {
	background-color: rgba(0,0,0,0.8);
}

.end-mark-icon {
	width: 50px;
	height: 50px;
	background-image: url('/assets/images/logo.png');
	background-size: 50px 50px;
	margin: 0 auto;
	display:inline-block;
}

@media only screen and (max-width: 1225px) {
	.container--header {
		max-width: 790px;
	}
	#footer{
		max-width: 790px;
	}
	.container--grid {
		margin: 120px auto 60px auto;
	}
}
@media only screen and (max-width: 790px) {
	.container--header {
		max-width: 395px;
		padding: 0;
		margin-bottom: 32px;
		margin-top: 52px;
	}
	#footer{
		max-width: 395px;
	}
	.end-mark-icon {
		width: 100%;
		text-align: center;
	    height: 80px;
	    background-image: url('/assets/images/logo.png');
	    background-size: 80px 80px;
	    background-repeat: no-repeat;
	    background-position: center;
	    margin: 20px auto;
	    display: block;
	}
	#end-mark{
		margin:0 auto;
	}
	.copyright{
	    width: 100%;
	    text-align: center;
	    margin:0;
		opacity: 0.4;
	}
	#footer-links{
		margin:0px auto;
		margin-left: -20px;
		width: 100%;
	    text-align: center;
		opacity: 0.4;
	}
	#nav {
		padding: 0 0 0 10px;
		min-width: 320px;
	}
	#nav div.item {
		margin: 0px 19px 0 0;
		display:inline-block;
	}

	.container--header {
		text-align: center;
		width: 80%;
	}

}

@media only screen and (max-width: 500px) {
	.container--header {
		padding:0;
		width: 300px;
		margin-bottom: 12px;
		margin-top: 32px;
	}
	/* #nav div.nav-isVisIfMobile{
		display: inline-block;
	    float: left;
	    position: fixed;
	    left: 59px;
	}
	#nav div.nav-isNotVisIfMobile{
		display: none;
	} */

	h2 {
		margin-top:0;
		margin-bottom: 12px;
	}
	p {
		margin-bottom: 12px;
	}
	.container {
		margin:20px auto;
	}
	.container--header h1{
		font-size: 32px;
		line-height: 48px;
		margin-bottom: 12px;
	}
	.container--header p{
		font-size: 14px;
		line-height: 20px;
	}
	#footer{
		max-width: 320px;
	}
	#content {
		margin: 0;
	}
	#nav {
		padding: 0 0 0 10px;
		min-width: 320px;
	}
	.card {
		width:320px;
		height:auto;
		margin: 15px 0;
	}
	.card-hero {
		padding: 0 20px 20px 20px;
	}
	.card-description {
		margin-bottom: 20px;
	}
	.card-meta-container {
		width: 280px;
	}
	.card--resource .card-hero {
		height: 267px;
	}
	.card-body--video {
		height: 392px;
	}
	.card-footer {
		position: relative;
		display: inline-block;
		padding-top:0px;
	}
	.card-body {
	}
	#nav div.item {
		margin: 0px 19px 0 0;
		display:inline-block;
	}

}

/* @media only screen and (max-width: 363px) {
#nav div.item {
		margin: 0px 8px 0 0;
}
} */


@media screen and (min-width: 1225px) {
	.container--header {
		text-align: center;
	}
    .container--hero {
        max-width: 1090px;
    }
    .action_bar-wrapper {
        margin-top: 60px;
    }
    .action_bar-share, .action_bar-arrow {
    }
}
@media screen and (max-height: 690px) and (min-width: 320px) {
    .action_bar-wrapper {
        margin-top: 60px;
    }
    .action_bar-share {
        display: none;
    }
}

/*---------- homepage ----------*/
.home-container{
	max-width:1185px;
	margin: 0 auto;
	min-height: 80vh;
}
.h1--home-title {
	margin-bottom: 16px;
	font-family: '-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif';
	font-weight: 700;
	color: rgba(0,0,0,.84);
}
h1 {
	margin: 60px 0 16px 0;
}
@media only screen and (max-width: 890px) {
	.card-list-wrapper li{
		width: 100%;
		text-align: center;
	}
	.card-list-wrapper li a{
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (max-width: 1225px) {
	.home-container {
		max-width: 790px;
	}
}
@media only screen and (max-width: 790px) {
	.home-container {
		max-width: 395px;
	}
	.h1--home-title {
		font-size:42px;
	}
}
@media only screen and (max-width: 500px) {
	.home-container {
		max-width: 320px;
	}
	.container--header {
			margin: 60px auto 40px auto;
	}
}
@media screen and (max-height: 700px) and (min-width: 1225px) {

}

/*---------- post page ---------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

html, body {
  height: 100%; }

html {
  height: 100%;
  max-height: 100%; }

body {
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #666666;
  -webkit-font-smoothing: antialiased; }

::-moz-selection {
  background: #f39ca4; }

.page-wrapper img {
    width: 100%;
}
.page-wrapper a {
  text-decoration: none;
  color: inherit;
}
  a:hover {
    color: #9B59B6;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s; }

h1,
h2,
h3,
h4,
h5,
h5 {
  margin-top: 1.0em;
  margin-bottom: .5em;
  logoily: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 500;
  color: rgba(0,0,0,.84);
  -webkit-font-smoothing: antialiased; }

h1 {
  margin-top: 0;
  font-size: 2.5em;
  line-height: 1.2em;
  letter-spacing: .05em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 1em; }

p {
  margin-bottom: 1.3em;
  line-height: 1.7em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  border-left: 3px solid #BF1827; }
  blockquote p:last-child {
    margin-bottom: 0; }

/*ol, ul {
  margin: 0 0 1.3em 2.5em; }*/
  ol li, ul li {
    margin: 0 0 .2em 0;
    line-height: 1.6em; }
  ol ol, ol ul, ul ol, ul ul {
    margin: .1em 0 .2em 2em; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: disc; }

code {
  padding: .4em;
  padding-top: .2em;
  padding-bottom: .1em;
  background: #e8f2fb;
  border: 1px solid #c9e1f6;
  border-radius: 3px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: .9em;
  vertical-align: middle;
  word-wrap: break-word; }

pre {
  margin-bottom: 1.3em;
  padding: 1em 2.5%;
  background: #e8f2fb;
  border: 1px solid #c9e1f6;
  border-radius: 3px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: .9em;
  font-weight: normal;
  line-height: 1.3em;
  overflow: auto; }
  pre code {
    padding: 0;
    background: none;
    border: none;
    word-wrap: normal; }

table {
  color: #333333;
  font-size: .9em;
  text-align: center;
  line-height: 40px;
  border-spacing: 0;
  border: 2px solid #92121e;
  width: 90%;
  margin: 50px auto; }

thead tr:first-child {
  background-color: #92121e;
  color: #F8F8F8;
  border: none; }

th {
  font-weight: bold; }

th:first-child, td:first-child {
  padding: 0 15px 0 20px; }

thead tr:last-child th {
  border-bottom: 1px solid #DDDDDD; }

tbody tr:last-child td {
  border: none; }

tbody td {
  border-bottom: 1px solid #DDDDDD;
  font-size: .85em; }

td:last-child {
  padding-right: 10px; }

hr {
  border: none; }

.page-wrapper{
    max-width: 1185px;
    margin: 0 auto;
    padding:0px 20px 0px 20px;
}

.container--narrow {
    max-width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
	font-size: 18px;
    line-height: 27px;
    color: #90949C;
    margin-bottom: 24px;
}

.related_posts-container .related_posts-header {
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    margin: 48px 0;
    font-weight: 500;
    color: #90949C;
}
.related_posts-container {
    max-width: 1185px;
    margin:30px auto;
}

.photo-grid-content {
    width: 100%;
    margin-bottom: 24px;
}
.photo-grid-content img {
    width: 100%;
    height: 50%;
    padding-right: 24px;
}
.container--full-width {
    width:100%;
}

.container--text {
    max-width: 680px;
    margin:0 auto 60px auto;
}
.container--image {
    overflow: hidden;
    width:100%;
    position: relative;
    height: auto;
    margin: 0 0;
    background-color: #E9EBEE;
    padding-bottom: 48.61%;
}
.container--call-to-action {
    text-align: center;
    margin:0px 0 30px 0;
}
.container--call-to-action button {
    margin: 40px 5px 10px 5px;
}

.careers-hero {
    background-image: url(../img/careers.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    -webkit-transition: all 450ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 450ms cubic-bezier(.02, .01, .47, 1);
    transition: all 450ms cubic-bezier(.02, .01, .47, 1);
    background-position: center;
    transition-delay: 0ms;
    width:100%;
    height:100%;
    opacity: 0;
}
.visible {
    opacity: 1;
}

@media only screen and (max-width: 890px) {
	img {
		width:100%;
	}
}

@media only screen and (max-width: 1225px) {
	#footer {
		max-width: 1185px;
	}
    .photo-grid-content:first-child {
        margin-right:8px;
    }
}
@media only screen and (max-width: 500px) {
    h2 {
        line-height: 28px;
        margin-top:60px;
    }
    blockquote {
        /*font-size: 20px;
        line-height: 28px;*/
    }
    .photo-grid-content img {
        width: 100%;
        padding:0;
    }
}


/* >>>>> Search button */
.container--header h1 {
    margin: 60px 0 16px 0;
}

.container-2{
  width: 150px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  left: 110px;
}

.container-2 input#search{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 22px;
  left: 5px;
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;

}

.container-2 .icon{
  position: absolute;
  top: -17px;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-2 input#search:focus, .container-2 input#search:active{
  outline: none;
  width: 150px;
}

.container-2:hover input#search{
  width: 150px;
  outline-style: ridge;
  outline-width: 0.3px;
  outline-color: #4f5b66;
}

.container-2:hover .icon{
  opacity: 0;
}

#search {
	font-style: italic;
	font-size: 11px;
    font-weight: 500;}

.result {
  position: relative;
  height: 34px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #1D2129;
}

.result:hover {
	background-color: #BA9EB0;
}

.noresult {
  position: relative;
  height: 34px;
  margin: 10px;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #1D2129;
}

#result-time {
	font-style: italic;
	font-size: 12px;
	font-weight: 500;
	margin-left: 10px;
	color: #90949C;
}
/* Search button <<<<<*/


/* >>>>> Share buttons */
#share-bar {
    font-size: 20px;
	/*border-top: 1px solid #EDEDED;*/
	border-bottom: 1px solid #EDEDED;
	padding-bottom: 10px;
	padding-top: 20px;
}

/* Title */
#share-bar h4 {
    margin-bottom: 10px;
    font-weight: 500;
}

/* All buttons */
.share-buttons {
	text-align: right;
	display: inline-block;
}

/* Like button*/
.like-button {
	padding-right: 10px;
}

/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
    border: 1px solid #D3D6D2;
    padding: 5px 10px 5px 10px;
}
.share-button:hover {
    opacity: 1;
    color: #ffffff;
}

.fa-facebook-official {
	border-color: rgba(0,0,0,.68);
	color: rgba(0,0,0,.68);
	border-width: 0;
	padding: 0;
}
.fa-facebook-official:hover {
    /*background-color: #3b5998;*/
	color: #3b5998;
}

.fa-twitter {
	border-color: rgba(0,0,0,.68);
	color: rgba(0,0,0,.68);
	border-width: 0;
	padding: 0;
}
.fa-twitter:hover {
    color: #55acee;
}

.fa-google-plus {
	border-color: rgba(0,0,0,.68);
	color: rgba(0,0,0,.68);
	border-width: 0;
	padding: 0;
}
.fa-google-plus:hover {
    color: #dd4b39;
}

.fa-pinterest-p {
	border-color: rgba(0,0,0,.68);
	color: rgba(0,0,0,.68);
	border-width: 0;
	padding: 0;
}
.fa-pinterest-p:hover {
    color: #cb2027;
}

.fa-weibo {
	border-color: rgba(0,0,0,.68);
	color: rgba(0,0,0,.68);
	border-width: 0;
	padding: 0;
}
.fa-weibo:hover {
    color: #E6162D;
}

.fa-reddit-alien {
	border-color: rgba(0,0,0,.68);
	color: rgba(0,0,0,.68);
	border-width: 0;
	padding: 0;
}
.fa-reddit-alien:hover {
    color: #ff4500;
}

.fa-linkedin {
	border-color: rgba(0,0,0,.68);
	color: rgba(0,0,0,.68);
	border-width: 0;
	padding: 0;
}
.fa-linkedin:hover {
    color: #007bb5;
}

.fa-envelope {   /* email button */
	border-color: rgba(0,0,0,.68);
	color: rgba(0,0,0,.68);
	border-width: 0;
	padding: 0;
}
.fa-envelope:hover {
    color: #131314;
}
/* Share buttons <<<<<*/


/* >>>>> Time of the blog post */
#written-time {
	font-style: italic;
	font-size: 10px;
	font-weight: 500;
	color: #90949C;
	text-align: right;
}
/* Time of the blog post <<<<<*/


/* >>>>>Topic hash tags */
.topic-tags {
    	text-align: left;
    	font-size: 13px;
    	letter-spacing: 0;
    	font-weight: 350;
   		font-style: normal;
    	color: rgba(0,0,0,.55);
    	line-height: 1.4;
		padding-bottom: 10px;
}

.topic-hash-tag {
	display: inline-block;
	padding-right: 5px;
}

.more-tags-button {
	display: inline-block;
	color: rgba(0,0,0,.55);
   	background-color: rgba(0,0,0,.08);
	border-radius: 3px;
	padding: 2px 5px 2px 5px ;
}

.more-tags-button:hover {
	background-color: rgba(0,0,0,.18);
}
/* Topic hash tags <<<<<*/


/* >>>>>Like button */
.like-button-index {
	padding-left: 65px;
	padding-bottom: 3px;
	opacity: 0.9;
	font-style: italic;
	display: inline-block;
}

.like-button-about {
	text-align: right;
	font-style: italic;
	padding-bottom: 40px;
}
/* Like button <<<<<*/


/* >>>>> Navigation bar my name initial */
#nav-initial {
	font: 400 3.5em/125% 'Qwigley', Helvetica, Sans-serif;
	color: #333;
}
/* Navigation bar my name initial <<<<<*/


/* >>>>> Github gist */
body .gist .gist-file {
    margin-bottom: 1em;
    border: 1px solid #c9e1f6;
    border-radius: 3px;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: .9em;
}

body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #e8f2fb;
}

body .gist .blob-wrapper {
    border-radius: 0;
}

body .gist .highlight {
    background-color: transparent;
    font-size: 14px;
}

body .gist .highlight td {
    padding: 5px 15px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
}

body .gist tr:first-child td {
    padding-top: 15px !important;
}

body .gist tr:last-child td {
    padding-bottom: 15px !important;
}

body .gist .blob-num {
    color: rgba(0,0,0,0.3);
    pointer-events: none;
}
/* Github gist <<<<<*/

.wechat-share-logo {
	display: none;
}

/* return to top button */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
