/* Sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

li {
    list-style: none;
}

h1 {
	margin: 0 0px 0 16px 0;
}
.sidebar-link {
	text-transform: uppercase;
	line-height: 44px;
	display: block;
	font-size: 11px;
	font-weight: 500;
	color: #90949C;
}

li.sidebar-link a {
    line-height: 30px;
    display: block;
}
li.sidebar-link a:hover {
	opacity: .7;
}

hr {
    border: 0;
    margin:30px 0;
    height: 0;
    border-bottom: 1px solid #E9EBEE;
}

/* Responsive Grid */

.list-container {
	max-width:1185px;
	margin: 0 auto;
	min-height: 101vh;
}
.container--grid {
	margin-top:50px;
	max-width: 790px;
}
.container--grid li {
	display: none;
}

.container--sidebar {
 	position:relative;
 	top:0;
 	min-width: 200px;
 	z-index: 4;
}

.sidebar{
	position: relative;
 	max-width: 300px;
 	margin-left: 20px;
 	margin-right: 20px;
}
.container--sidebar .selected {
	color: #4B4F56;
}

@supports (-webkit-backdrop-filter: none) { .sidebar { background-color: rgba(252, 252, 252, .85); } }
